#night-life {
	background-color: #000000;
}

.card {
	position: relative;
	background: #111111;
	width: 70%;
	height: 300px;
	margin-left: 15%;
	text-align: left;
	.image {
		float: left;
		display: block;
		img {
			max-width: 300px;
			max-height: 300px;
			min-width: 300px;
			min-height: 300px;
			object-fit: cover;
		}
	}
	.card-content {
		position: relative;
		color: white;
		left: 5%;
		top: 15%;

		.object-name {
			text-transform: uppercase;
			font-weight: 400;
		}
		.object-description {
			font-family: monospace;
		}
		.object-rating {
			color: #ffdc00;
			display: block;
			margin-top: 25px;
		}
	}
	.object-promotions {
		background: #111111;
		padding: 10px;
		width: 23%;
		position: absolute;
		bottom: -5%;
		color: white;
		text-transform: uppercase;
	}
}
