@import 'card.scss';
@import 'nightlife.scss';
$path: '../images/empty-dining-tables-and-chairs-1579739.jpg';
$colors: (primary: #111111, accent: #fff6bb, primary-light: lighten(#0074d9, 40%), primary-dark: darken(#0074d9, 40%));

@function color($color-name) {
	@return map-get($colors, $color-name);
}

body > #root > div {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.main-navigation {
	display: flex;
	justify-content: space-around;
	background-color: color(primary);
	color: white;

	a {
		text-decoration: none;
		color: white;

		h3 {
			font-size: 2em;
			font-weight: 400;
			text-align: center;
			padding: 5px;
			span {
				font-weight: 100;
				padding: 15px;
				color: #fff;
				background-color: color(primary);
				// border: 1px solid #ffdc00;
				border-left: 1px solid #ffdc00;
				border-right: 1px solid #ffdc00;
				border-radius: 25px;
			}
		}
	}
	ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		width: 10%;
		justify-content: space-around;

		.nav-link {
			text-decoration: none;
			color: white;
			font-size: 1.1em;
			text-transform: uppercase;
		}
	}
}

section.half-screen {
	width: 100%;
	height: 87.9vh;
	display: grid;
	grid-template-columns: 50% auto;

	section.first-half,
	section.second-half {
		text-align: center;
		background-size: cover;
	}

	section .section-content {
		width: 50%;
		background-color: #111111b4;
		border-radius: 5px;
		backdrop-filter: blur(6px);
		padding: 15px;
		position: relative;
		top: 35%;
		left: 30%;
		color: rgb(255, 255, 255);

		p {
			font-size: 1.5em;
			text-transform: uppercase;
			padding: 20px;
			margin: 2px;
		}
	}
}

a.default {
	display: inline-block;
	vertical-align: center;
	text-decoration: none;
	background-color: #ffdc00;
	border: none;
	padding: 8px;
	text-align: center;
	font-size: 1em;
	color: rgb(41, 41, 41);
	width: 150px;
	height: 40px;
	text-transform: uppercase;
}
