.place-details {
	margin: 0 auto;
	width: 160vh;
}

#details {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	aside.banner-image {
		img {
			width: 100%;
			height: 80vh;
			object-fit: cover;
		}
	}

	.place-details-description {
		grid-column: span 5/auto;
		background-color: #111111;
		margin: 0;
		color: white;
		position: relative;
		padding: 15px;
		h1 {
			font-weight: 400;
			text-transform: uppercase;
			width: 20%;
			border-bottom: 1px solid #ffdc00;
		}
		.place-details {
			width: fit-content;
			margin-top: 30px;
			line-height: 30px;
			font-weight: 100;
		}
		.start-end {
			font-weight: 100;
			text-align: left;
		}
		.music {
			h2 {
				text-transform: uppercase;
				font-weight: 400;
			}
			.performer {
				font-weight: 400;
			}
			text-align: right !important;
		}
		h2.details-promotions {
			background-color: #1b1b1b;
			padding: 20px;
			text-transform: uppercase;
			font-weight: 400;
			text-align: center;
		}
		.slider-gallery {
			display: grid;
			grid-template-columns: repeat(5, 1fr);

			.slider-image-container {
				img {
					max-width: 250px;
					max-height: 250px;
				}
			}
		}
	}
	aside.actions {
		background-color: #161616;
		position: relative;
		text-align: center;
		a {
			margin-top: 30%;
		}
		i {
			color: #ffffff;
		}
		.object-location-details {
			position: absolute;
			bottom: 35px;
			color: white;
		}
	}
}

#overflow-details[displayed="false"] {
	position: absolute;
	top: 0;
	opacity: 0;
	height: 0;
	transition: opacity .1s;
	transition: height 1s ease-in;
}

#overflow-details[displayed="true"] {
	position: absolute;
	opacity: 1;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	left: 0;
	transition: opacity .1s ease-in;
	transition: height 1s ease-in;
}

#overflow-details {
	background: radial-gradient(ellipse at bottom, #161616 0%, #000000 100%);
	color: white;
	.close-reservations {
		float: right;
		margin-right: 20px;
		margin-top: 20px;
		font-size: 30px;
	}
	.reservations-next {
		position: absolute;
		bottom: 30px;
		right: 30px;
		font-size: 30px;
	}
	.reservations-previous {
		position: absolute;
		bottom: 30px;
		left: 30px;
		font-size: 30px;
	}
	div.step {
		display: none;
		right: -3000px;
	}
	div.step.active {
		display: block;
		h2 {
			font-weight: 400;
			text-align: center;
			text-transform: uppercase;
		}
		#tables {
			position: relative;
			text-align: center;
			display: grid;
			width: 40%;
			left: 30%;
			top: 30%;
			grid-template-columns: repeat(9, 1fr);
			.table {
				display: block;
				width: 20px;
				height: 20px;
				background-color: white;
				margin-top: 50px;
			}
			.table.taken {
				background: #ff4136;
			}
		}
	}
}
