html {
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 823px 1090px #fff, 1624px 1237px #fff, 1590px 545px #fff, 899px 375px #fff, 1958px 1681px #fff,
		1695px 1176px #fff, 168px 360px #fff, 775px 1877px #fff, 1310px 423px #fff, 1364px 1418px #fff,
		1539px 1776px #fff, 297px 32px #fff, 642px 246px #fff, 1163px 1625px #fff, 1467px 1389px #fff, 1189px 207px #fff,
		139px 1167px #fff, 131px 1802px #fff, 1933px 25px #fff, 936px 760px #fff, 77px 256px #fff, 1959px 845px #fff,
		1921px 1640px #fff, 720px 1806px #fff, 1033px 872px #fff, 340px 391px #fff, 1140px 520px #fff,
		1448px 1586px #fff, 477px 415px #fff, 1921px 1246px #fff, 1068px 44px #fff, 1519px 1114px #fff,
		1177px 1854px #fff, 1970px 1449px #fff, 574px 338px #fff, 1026px 257px #fff, 876px 761px #fff,
		1756px 1327px #fff, 814px 2000px #fff, 1943px 1038px #fff, 1710px 830px #fff, 486px 838px #fff,
		1723px 1088px #fff, 1117px 429px #fff, 662px 1219px #fff, 63px 1584px #fff, 266px 1171px #fff, 953px 149px #fff,
		603px 1240px #fff, 1101px 1614px #fff, 1275px 367px #fff, 1610px 279px #fff, 1778px 327px #fff,
		1925px 229px #fff, 990px 456px #fff, 1468px 1396px #fff, 1072px 1913px #fff, 1514px 1950px #fff,
		1334px 150px #fff, 1573px 330px #fff, 136px 1487px #fff, 1861px 1064px #fff, 1049px 878px #fff,
		1632px 678px #fff, 1811px 1494px #fff, 1160px 1163px #fff, 1854px 1093px #fff, 295px 1514px #fff,
		1619px 1100px #fff, 1926px 1133px #fff, 981px 549px #fff, 909px 1258px #fff, 1072px 457px #fff,
		1440px 285px #fff, 1578px 821px #fff, 530px 756px #fff, 891px 5px #fff, 1380px 1298px #fff, 738px 1478px #fff,
		497px 203px #fff, 415px 44px #fff, 1228px 164px #fff, 177px 12px #fff, 1354px 1208px #fff, 67px 751px #fff,
		1589px 1473px #fff, 1022px 1592px #fff, 573px 611px #fff, 11px 1544px #fff, 919px 953px #fff, 379px 831px #fff,
		679px 443px #fff, 165px 1227px #fff, 792px 1415px #fff, 772px 87px #fff, 245px 1924px #fff, 97px 474px #fff,
		283px 575px #fff, 20px 1443px #fff, 1247px 352px #fff, 543px 45px #fff, 1179px 1634px #fff, 1956px 452px #fff,
		526px 1866px #fff, 698px 876px #fff, 1796px 658px #fff, 1502px 1929px #fff, 308px 1724px #fff,
		1880px 1118px #fff, 1797px 1523px #fff, 161px 721px #fff, 404px 1203px #fff, 849px 200px #fff,
		1534px 1549px #fff, 557px 331px #fff, 1978px 1184px #fff, 1918px 1462px #fff, 1753px 825px #fff,
		1997px 1883px #fff, 751px 350px #fff, 273px 77px #fff, 839px 929px #fff, 1497px 1020px #fff, 765px 572px #fff,
		157px 1791px #fff, 810px 1981px #fff, 1155px 142px #fff, 1560px 1825px #fff, 585px 1026px #fff,
		1685px 1090px #fff, 340px 1897px #fff, 105px 734px #fff, 635px 526px #fff, 101px 1164px #fff, 1906px 192px #fff,
		1948px 1309px #fff, 622px 649px #fff, 511px 413px #fff, 1866px 1761px #fff, 1839px 984px #fff, 1682px 553px #fff,
		320px 1193px #fff, 1877px 366px #fff, 1647px 641px #fff, 1346px 1689px #fff, 1819px 87px #fff, 201px 1652px #fff,
		1787px 367px #fff, 1469px 770px #fff, 111px 198px #fff, 738px 23px #fff, 1167px 1209px #fff, 1116px 1008px #fff,
		1405px 17px #fff, 993px 699px #fff, 855px 1438px #fff, 1334px 1390px #fff, 259px 1306px #fff, 1431px 414px #fff,
		819px 540px #fff, 1697px 1861px #fff, 412px 1874px #fff, 768px 1450px #fff, 1870px 462px #fff, 557px 47px #fff,
		1078px 1696px #fff, 418px 693px #fff, 1776px 1644px #fff, 1259px 1787px #fff, 690px 1930px #fff,
		1547px 1138px #fff, 1261px 785px #fff, 881px 189px #fff, 697px 321px #fff, 264px 1576px #fff, 720px 946px #fff,
		928px 329px #fff, 1696px 1936px #fff, 1450px 610px #fff, 1188px 1698px #fff, 464px 1696px #fff,
		1725px 1674px #fff, 175px 451px #fff, 346px 1360px #fff, 335px 1107px #fff, 1208px 1102px #fff, 217px 52px #fff,
		397px 1488px #fff, 1581px 102px #fff, 783px 1417px #fff, 1758px 966px #fff, 1172px 399px #fff, 374px 1329px #fff,
		278px 949px #fff, 681px 1526px #fff, 1313px 1378px #fff, 1244px 19px #fff, 1516px 1210px #fff, 885px 1705px #fff,
		1636px 1979px #fff, 613px 253px #fff, 137px 1275px #fff, 283px 488px #fff, 473px 92px #fff, 531px 132px #fff,
		1309px 797px #fff, 1815px 1386px #fff, 2000px 1753px #fff, 570px 574px #fff, 1417px 1185px #fff,
		1390px 261px #fff, 565px 540px #fff, 289px 1310px #fff, 635px 1477px #fff, 281px 244px #fff, 950px 1183px #fff,
		919px 398px #fff, 758px 1507px #fff, 686px 21px #fff, 233px 547px #fff, 82px 1205px #fff, 859px 591px #fff,
		1463px 1375px #fff, 901px 350px #fff, 129px 1849px #fff, 589px 203px #fff, 1298px 178px #fff, 696px 2px #fff,
		226px 935px #fff, 1412px 1293px #fff, 1508px 460px #fff, 168px 49px #fff, 1200px 1003px #fff, 428px 1161px #fff,
		858px 1577px #fff, 621px 104px #fff, 775px 101px #fff, 1500px 754px #fff, 38px 613px #fff, 1347px 663px #fff,
		566px 1561px #fff, 1361px 501px #fff, 259px 1190px #fff, 410px 983px #fff, 1960px 1106px #fff, 143px 756px #fff,
		796px 1296px #fff, 1797px 813px #fff, 852px 1405px #fff, 509px 659px #fff, 1979px 787px #fff, 1662px 1763px #fff,
		988px 66px #fff, 1647px 973px #fff, 601px 1189px #fff, 1235px 1878px #fff, 364px 1158px #fff, 52px 1725px #fff,
		346px 769px #fff, 796px 384px #fff, 654px 814px #fff, 380px 1555px #fff, 287px 692px #fff, 1058px 1864px #fff,
		1118px 980px #fff, 1206px 590px #fff, 1201px 340px #fff, 1883px 1464px #fff, 1649px 733px #fff,
		1796px 1576px #fff, 477px 659px #fff, 1574px 103px #fff, 1238px 1281px #fff, 801px 410px #fff, 607px 1215px #fff,
		1575px 1226px #fff, 63px 1204px #fff, 1564px 1571px #fff, 255px 1418px #fff, 283px 1676px #fff,
		953px 1707px #fff, 161px 540px #fff, 1444px 730px #fff, 609px 70px #fff, 153px 582px #fff, 572px 120px #fff,
		324px 1061px #fff, 1974px 309px #fff, 730px 295px #fff, 1585px 666px #fff, 705px 1265px #fff, 303px 618px #fff,
		552px 380px #fff, 883px 1062px #fff, 1919px 642px #fff, 312px 634px #fff, 1862px 1869px #fff, 724px 1395px #fff,
		1015px 949px #fff, 1068px 698px #fff, 1683px 1401px #fff, 1928px 1579px #fff, 1827px 581px #fff,
		1673px 1561px #fff, 51px 687px #fff, 1841px 1328px #fff, 66px 184px #fff, 1509px 419px #fff, 1754px 716px #fff,
		1288px 1017px #fff, 664px 722px #fff, 442px 467px #fff, 1237px 1557px #fff, 270px 589px #fff, 109px 1968px #fff,
		445px 544px #fff, 350px 1233px #fff, 463px 409px #fff, 877px 1151px #fff, 1493px 1651px #fff, 669px 1289px #fff,
		1690px 1612px #fff, 1831px 1514px #fff, 1446px 1625px #fff, 798px 1297px #fff, 610px 859px #fff,
		924px 1735px #fff, 434px 1222px #fff, 527px 1537px #fff, 991px 1849px #fff, 133px 1705px #fff, 1568px 344px #fff,
		1490px 367px #fff, 51px 1704px #fff, 34px 1293px #fff, 542px 43px #fff, 1783px 230px #fff, 1384px 1787px #fff,
		1737px 514px #fff, 415px 1440px #fff, 1985px 1116px #fff, 1462px 709px #fff, 1381px 768px #fff,
		1698px 268px #fff, 1613px 656px #fff, 1758px 9px #fff, 1792px 290px #fff, 1015px 1932px #fff, 697px 1639px #fff,
		660px 102px #fff, 682px 1357px #fff, 1866px 573px #fff, 1059px 816px #fff, 1196px 1322px #fff, 293px 1028px #fff,
		1778px 1024px #fff, 257px 1977px #fff, 241px 1050px #fff, 1667px 1577px #fff, 67px 1240px #fff, 479px 535px #fff,
		388px 738px #fff, 1260px 45px #fff, 1463px 1694px #fff, 1046px 1226px #fff, 4px 800px #fff, 302px 1536px #fff,
		919px 1640px #fff, 1571px 825px #fff, 1316px 1477px #fff, 1276px 939px #fff, 409px 1513px #fff,
		357px 1230px #fff, 1435px 1382px #fff, 859px 1809px #fff, 272px 430px #fff, 263px 1195px #fff, 750px 306px #fff,
		1404px 1849px #fff, 1209px 1931px #fff, 1044px 1771px #fff, 44px 244px #fff, 295px 995px #fff, 852px 1719px #fff,
		129px 1666px #fff, 435px 1675px #fff, 906px 174px #fff, 317px 20px #fff, 308px 1859px #fff, 1813px 1904px #fff,
		1164px 1461px #fff, 1817px 1095px #fff, 314px 605px #fff, 1429px 582px #fff, 567px 755px #fff, 166px 829px #fff,
		452px 219px #fff, 1944px 1063px #fff, 1338px 482px #fff, 990px 1371px #fff, 1538px 320px #fff,
		1357px 1053px #fff, 1155px 334px #fff, 1028px 110px #fff, 63px 309px #fff, 1746px 105px #fff, 536px 1128px #fff,
		1347px 1028px #fff, 871px 609px #fff, 36px 846px #fff, 169px 1829px #fff, 531px 1480px #fff, 371px 1115px #fff,
		1805px 1765px #fff, 1270px 11px #fff, 384px 1348px #fff, 1749px 1731px #fff, 973px 591px #fff, 542px 1200px #fff,
		1965px 1582px #fff, 1047px 304px #fff, 1916px 1650px #fff, 41px 176px #fff, 1819px 1830px #fff,
		419px 1100px #fff, 920px 1230px #fff, 1110px 1884px #fff, 1313px 1199px #fff, 1491px 1900px #fff,
		1795px 1864px #fff, 1360px 1903px #fff, 1963px 1263px #fff, 1721px 832px #fff, 1667px 1697px #fff,
		103px 1088px #fff, 693px 1773px #fff, 1160px 1250px #fff, 1579px 806px #fff, 1086px 1150px #fff,
		914px 727px #fff, 1845px 1727px #fff, 486px 761px #fff, 1628px 235px #fff, 275px 1201px #fff, 911px 713px #fff,
		1965px 838px #fff, 1863px 1748px #fff, 1257px 684px #fff, 1867px 810px #fff, 375px 97px #fff, 595px 862px #fff,
		1059px 154px #fff, 592px 1912px #fff, 1120px 251px #fff, 597px 1032px #fff, 475px 675px #fff, 1895px 1105px #fff,
		1986px 309px #fff, 187px 709px #fff, 973px 1497px #fff, 274px 1878px #fff, 1084px 685px #fff, 1682px 1514px #fff,
		1782px 1766px #fff, 1232px 1456px #fff, 58px 16px #fff, 1241px 1961px #fff, 817px 640px #fff, 1327px 421px #fff,
		365px 1803px #fff, 654px 393px #fff, 276px 1001px #fff, 1818px 1986px #fff, 593px 1604px #fff, 1247px 452px #fff,
		79px 225px #fff, 1847px 721px #fff, 362px 913px #fff, 1039px 214px #fff, 1245px 881px #fff, 1059px 347px #fff,
		1175px 984px #fff, 329px 1069px #fff, 1983px 727px #fff, 979px 33px #fff, 1344px 160px #fff, 1387px 1718px #fff,
		179px 136px #fff, 875px 215px #fff, 1435px 463px #fff, 1764px 1152px #fff, 157px 942px #fff, 699px 1770px #fff,
		1233px 1131px #fff, 236px 704px #fff, 1934px 989px #fff, 1387px 1706px #fff, 1868px 1780px #fff,
		1378px 1619px #fff, 954px 745px #fff, 830px 201px #fff, 382px 502px #fff, 1134px 798px #fff, 1381px 1881px #fff,
		1769px 510px #fff, 510px 1801px #fff, 1708px 1956px #fff, 1452px 816px #fff, 1727px 1154px #fff, 71px 517px #fff,
		795px 489px #fff, 1604px 170px #fff, 779px 158px #fff, 1089px 1064px #fff, 1951px 587px #fff, 1732px 1060px #fff,
		1388px 1863px #fff, 1672px 1840px #fff, 125px 1825px #fff, 1800px 482px #fff, 855px 810px #fff,
		1657px 166px #fff, 1px 1842px #fff, 955px 60px #fff, 1489px 1772px #fff, 855px 1147px #fff, 487px 696px #fff,
		1893px 1805px #fff, 837px 827px #fff, 1534px 1040px #fff, 1356px 1157px #fff, 1123px 746px #fff,
		432px 318px #fff, 749px 141px #fff, 577px 987px #fff, 1224px 1598px #fff, 1961px 1760px #fff, 24px 905px #fff,
		803px 642px #fff, 416px 4px #fff, 1147px 705px #fff, 1445px 563px #fff, 1276px 384px #fff, 1474px 1775px #fff,
		822px 241px #fff, 1221px 102px #fff, 1479px 113px #fff, 359px 1751px #fff, 1416px 1597px #fff, 836px 1560px #fff,
		1137px 472px #fff, 539px 49px #fff, 1403px 1224px #fff, 696px 277px #fff, 1408px 695px #fff, 1659px 856px #fff,
		1590px 881px #fff, 1234px 484px #fff, 1987px 998px #fff, 360px 922px #fff, 849px 1875px #fff, 755px 1328px #fff,
		57px 1163px #fff, 273px 1944px #fff, 384px 681px #fff, 956px 450px #fff, 1965px 192px #fff, 1712px 882px #fff,
		644px 1255px #fff, 413px 1490px #fff, 200px 605px #fff, 560px 227px #fff, 578px 192px #fff, 594px 1136px #fff,
		1089px 1511px #fff, 1085px 1689px #fff, 641px 545px #fff, 1767px 1018px #fff, 476px 1591px #fff,
		1781px 1077px #fff, 1034px 1619px #fff, 1758px 81px #fff, 746px 324px #fff, 288px 533px #fff, 1436px 516px #fff,
		359px 1020px #fff, 27px 1201px #fff, 346px 474px #fff, 40px 548px #fff, 1406px 234px #fff, 1170px 1655px #fff,
		1522px 1343px #fff, 1306px 511px #fff, 386px 1418px #fff, 1319px 1351px #fff, 902px 1392px #fff,
		1566px 1131px #fff, 675px 1713px #fff, 315px 1693px #fff, 322px 1493px #fff, 219px 859px #fff, 160px 79px #fff,
		1836px 780px #fff, 439px 171px #fff, 84px 339px #fff, 1525px 60px #fff, 1439px 70px #fff, 592px 1808px #fff,
		1007px 1985px #fff, 1848px 513px #fff, 1568px 911px #fff, 1378px 14px #fff, 31px 1781px #fff, 605px 509px #fff,
		380px 580px #fff, 1465px 882px #fff, 1936px 1763px #fff, 677px 1346px #fff, 1116px 1809px #fff, 224px 41px #fff,
		499px 1257px #fff, 1412px 1685px #fff, 1255px 1682px #fff, 1384px 1778px #fff, 1270px 1683px #fff,
		230px 563px #fff, 1956px 1101px #fff, 1550px 270px #fff, 473px 841px #fff, 20px 1315px #fff, 1657px 748px #fff,
		869px 640px #fff, 931px 805px #fff, 1593px 731px #fff, 1856px 1436px #fff, 1819px 1883px #fff, 1127px 893px #fff,
		479px 1739px #fff, 1583px 65px #fff, 733px 112px #fff, 286px 417px #fff, 24px 1265px #fff, 13px 380px #fff,
		25px 1931px #fff, 1403px 1591px #fff, 690px 1944px #fff, 702px 899px #fff, 1037px 1868px #fff,
		1176px 1676px #fff, 864px 1299px #fff, 133px 1101px #fff, 35px 1318px #fff, 1187px 761px #fff, 1885px 940px #fff,
		1258px 53px #fff, 525px 1426px #fff, 1332px 1989px #fff, 1657px 1535px #fff, 1734px 1274px #fff,
		1168px 270px #fff, 203px 1523px #fff, 1136px 417px #fff, 1008px 1749px #fff, 388px 879px #fff, 1616px 754px #fff,
		1500px 1825px #fff, 1643px 862px #fff, 1297px 189px #fff, 1470px 1970px #fff, 1078px 1152px #fff,
		596px 390px #fff, 1975px 1171px #fff, 1851px 1942px #fff, 270px 1024px #fff, 1443px 1278px #fff,
		1163px 1415px #fff, 707px 232px #fff, 1258px 194px #fff, 703px 88px #fff, 543px 1123px #fff, 1000px 1243px #fff,
		1599px 1789px #fff, 949px 605px #fff, 1568px 162px #fff, 596px 560px #fff, 1266px 295px #fff, 1384px 1615px #fff,
		1681px 755px #fff, 1184px 1328px #fff, 1192px 806px #fff, 957px 1594px #fff, 1233px 1200px #fff,
		1825px 443px #fff, 1023px 1536px #fff, 1677px 584px #fff, 1445px 113px #fff, 477px 723px #fff, 847px 44px #fff,
		1047px 469px #fff, 63px 461px #fff;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 823px 1090px #fff, 1624px 1237px #fff, 1590px 545px #fff, 899px 375px #fff, 1958px 1681px #fff,
		1695px 1176px #fff, 168px 360px #fff, 775px 1877px #fff, 1310px 423px #fff, 1364px 1418px #fff,
		1539px 1776px #fff, 297px 32px #fff, 642px 246px #fff, 1163px 1625px #fff, 1467px 1389px #fff, 1189px 207px #fff,
		139px 1167px #fff, 131px 1802px #fff, 1933px 25px #fff, 936px 760px #fff, 77px 256px #fff, 1959px 845px #fff,
		1921px 1640px #fff, 720px 1806px #fff, 1033px 872px #fff, 340px 391px #fff, 1140px 520px #fff,
		1448px 1586px #fff, 477px 415px #fff, 1921px 1246px #fff, 1068px 44px #fff, 1519px 1114px #fff,
		1177px 1854px #fff, 1970px 1449px #fff, 574px 338px #fff, 1026px 257px #fff, 876px 761px #fff,
		1756px 1327px #fff, 814px 2000px #fff, 1943px 1038px #fff, 1710px 830px #fff, 486px 838px #fff,
		1723px 1088px #fff, 1117px 429px #fff, 662px 1219px #fff, 63px 1584px #fff, 266px 1171px #fff, 953px 149px #fff,
		603px 1240px #fff, 1101px 1614px #fff, 1275px 367px #fff, 1610px 279px #fff, 1778px 327px #fff,
		1925px 229px #fff, 990px 456px #fff, 1468px 1396px #fff, 1072px 1913px #fff, 1514px 1950px #fff,
		1334px 150px #fff, 1573px 330px #fff, 136px 1487px #fff, 1861px 1064px #fff, 1049px 878px #fff,
		1632px 678px #fff, 1811px 1494px #fff, 1160px 1163px #fff, 1854px 1093px #fff, 295px 1514px #fff,
		1619px 1100px #fff, 1926px 1133px #fff, 981px 549px #fff, 909px 1258px #fff, 1072px 457px #fff,
		1440px 285px #fff, 1578px 821px #fff, 530px 756px #fff, 891px 5px #fff, 1380px 1298px #fff, 738px 1478px #fff,
		497px 203px #fff, 415px 44px #fff, 1228px 164px #fff, 177px 12px #fff, 1354px 1208px #fff, 67px 751px #fff,
		1589px 1473px #fff, 1022px 1592px #fff, 573px 611px #fff, 11px 1544px #fff, 919px 953px #fff, 379px 831px #fff,
		679px 443px #fff, 165px 1227px #fff, 792px 1415px #fff, 772px 87px #fff, 245px 1924px #fff, 97px 474px #fff,
		283px 575px #fff, 20px 1443px #fff, 1247px 352px #fff, 543px 45px #fff, 1179px 1634px #fff, 1956px 452px #fff,
		526px 1866px #fff, 698px 876px #fff, 1796px 658px #fff, 1502px 1929px #fff, 308px 1724px #fff,
		1880px 1118px #fff, 1797px 1523px #fff, 161px 721px #fff, 404px 1203px #fff, 849px 200px #fff,
		1534px 1549px #fff, 557px 331px #fff, 1978px 1184px #fff, 1918px 1462px #fff, 1753px 825px #fff,
		1997px 1883px #fff, 751px 350px #fff, 273px 77px #fff, 839px 929px #fff, 1497px 1020px #fff, 765px 572px #fff,
		157px 1791px #fff, 810px 1981px #fff, 1155px 142px #fff, 1560px 1825px #fff, 585px 1026px #fff,
		1685px 1090px #fff, 340px 1897px #fff, 105px 734px #fff, 635px 526px #fff, 101px 1164px #fff, 1906px 192px #fff,
		1948px 1309px #fff, 622px 649px #fff, 511px 413px #fff, 1866px 1761px #fff, 1839px 984px #fff, 1682px 553px #fff,
		320px 1193px #fff, 1877px 366px #fff, 1647px 641px #fff, 1346px 1689px #fff, 1819px 87px #fff, 201px 1652px #fff,
		1787px 367px #fff, 1469px 770px #fff, 111px 198px #fff, 738px 23px #fff, 1167px 1209px #fff, 1116px 1008px #fff,
		1405px 17px #fff, 993px 699px #fff, 855px 1438px #fff, 1334px 1390px #fff, 259px 1306px #fff, 1431px 414px #fff,
		819px 540px #fff, 1697px 1861px #fff, 412px 1874px #fff, 768px 1450px #fff, 1870px 462px #fff, 557px 47px #fff,
		1078px 1696px #fff, 418px 693px #fff, 1776px 1644px #fff, 1259px 1787px #fff, 690px 1930px #fff,
		1547px 1138px #fff, 1261px 785px #fff, 881px 189px #fff, 697px 321px #fff, 264px 1576px #fff, 720px 946px #fff,
		928px 329px #fff, 1696px 1936px #fff, 1450px 610px #fff, 1188px 1698px #fff, 464px 1696px #fff,
		1725px 1674px #fff, 175px 451px #fff, 346px 1360px #fff, 335px 1107px #fff, 1208px 1102px #fff, 217px 52px #fff,
		397px 1488px #fff, 1581px 102px #fff, 783px 1417px #fff, 1758px 966px #fff, 1172px 399px #fff, 374px 1329px #fff,
		278px 949px #fff, 681px 1526px #fff, 1313px 1378px #fff, 1244px 19px #fff, 1516px 1210px #fff, 885px 1705px #fff,
		1636px 1979px #fff, 613px 253px #fff, 137px 1275px #fff, 283px 488px #fff, 473px 92px #fff, 531px 132px #fff,
		1309px 797px #fff, 1815px 1386px #fff, 2000px 1753px #fff, 570px 574px #fff, 1417px 1185px #fff,
		1390px 261px #fff, 565px 540px #fff, 289px 1310px #fff, 635px 1477px #fff, 281px 244px #fff, 950px 1183px #fff,
		919px 398px #fff, 758px 1507px #fff, 686px 21px #fff, 233px 547px #fff, 82px 1205px #fff, 859px 591px #fff,
		1463px 1375px #fff, 901px 350px #fff, 129px 1849px #fff, 589px 203px #fff, 1298px 178px #fff, 696px 2px #fff,
		226px 935px #fff, 1412px 1293px #fff, 1508px 460px #fff, 168px 49px #fff, 1200px 1003px #fff, 428px 1161px #fff,
		858px 1577px #fff, 621px 104px #fff, 775px 101px #fff, 1500px 754px #fff, 38px 613px #fff, 1347px 663px #fff,
		566px 1561px #fff, 1361px 501px #fff, 259px 1190px #fff, 410px 983px #fff, 1960px 1106px #fff, 143px 756px #fff,
		796px 1296px #fff, 1797px 813px #fff, 852px 1405px #fff, 509px 659px #fff, 1979px 787px #fff, 1662px 1763px #fff,
		988px 66px #fff, 1647px 973px #fff, 601px 1189px #fff, 1235px 1878px #fff, 364px 1158px #fff, 52px 1725px #fff,
		346px 769px #fff, 796px 384px #fff, 654px 814px #fff, 380px 1555px #fff, 287px 692px #fff, 1058px 1864px #fff,
		1118px 980px #fff, 1206px 590px #fff, 1201px 340px #fff, 1883px 1464px #fff, 1649px 733px #fff,
		1796px 1576px #fff, 477px 659px #fff, 1574px 103px #fff, 1238px 1281px #fff, 801px 410px #fff, 607px 1215px #fff,
		1575px 1226px #fff, 63px 1204px #fff, 1564px 1571px #fff, 255px 1418px #fff, 283px 1676px #fff,
		953px 1707px #fff, 161px 540px #fff, 1444px 730px #fff, 609px 70px #fff, 153px 582px #fff, 572px 120px #fff,
		324px 1061px #fff, 1974px 309px #fff, 730px 295px #fff, 1585px 666px #fff, 705px 1265px #fff, 303px 618px #fff,
		552px 380px #fff, 883px 1062px #fff, 1919px 642px #fff, 312px 634px #fff, 1862px 1869px #fff, 724px 1395px #fff,
		1015px 949px #fff, 1068px 698px #fff, 1683px 1401px #fff, 1928px 1579px #fff, 1827px 581px #fff,
		1673px 1561px #fff, 51px 687px #fff, 1841px 1328px #fff, 66px 184px #fff, 1509px 419px #fff, 1754px 716px #fff,
		1288px 1017px #fff, 664px 722px #fff, 442px 467px #fff, 1237px 1557px #fff, 270px 589px #fff, 109px 1968px #fff,
		445px 544px #fff, 350px 1233px #fff, 463px 409px #fff, 877px 1151px #fff, 1493px 1651px #fff, 669px 1289px #fff,
		1690px 1612px #fff, 1831px 1514px #fff, 1446px 1625px #fff, 798px 1297px #fff, 610px 859px #fff,
		924px 1735px #fff, 434px 1222px #fff, 527px 1537px #fff, 991px 1849px #fff, 133px 1705px #fff, 1568px 344px #fff,
		1490px 367px #fff, 51px 1704px #fff, 34px 1293px #fff, 542px 43px #fff, 1783px 230px #fff, 1384px 1787px #fff,
		1737px 514px #fff, 415px 1440px #fff, 1985px 1116px #fff, 1462px 709px #fff, 1381px 768px #fff,
		1698px 268px #fff, 1613px 656px #fff, 1758px 9px #fff, 1792px 290px #fff, 1015px 1932px #fff, 697px 1639px #fff,
		660px 102px #fff, 682px 1357px #fff, 1866px 573px #fff, 1059px 816px #fff, 1196px 1322px #fff, 293px 1028px #fff,
		1778px 1024px #fff, 257px 1977px #fff, 241px 1050px #fff, 1667px 1577px #fff, 67px 1240px #fff, 479px 535px #fff,
		388px 738px #fff, 1260px 45px #fff, 1463px 1694px #fff, 1046px 1226px #fff, 4px 800px #fff, 302px 1536px #fff,
		919px 1640px #fff, 1571px 825px #fff, 1316px 1477px #fff, 1276px 939px #fff, 409px 1513px #fff,
		357px 1230px #fff, 1435px 1382px #fff, 859px 1809px #fff, 272px 430px #fff, 263px 1195px #fff, 750px 306px #fff,
		1404px 1849px #fff, 1209px 1931px #fff, 1044px 1771px #fff, 44px 244px #fff, 295px 995px #fff, 852px 1719px #fff,
		129px 1666px #fff, 435px 1675px #fff, 906px 174px #fff, 317px 20px #fff, 308px 1859px #fff, 1813px 1904px #fff,
		1164px 1461px #fff, 1817px 1095px #fff, 314px 605px #fff, 1429px 582px #fff, 567px 755px #fff, 166px 829px #fff,
		452px 219px #fff, 1944px 1063px #fff, 1338px 482px #fff, 990px 1371px #fff, 1538px 320px #fff,
		1357px 1053px #fff, 1155px 334px #fff, 1028px 110px #fff, 63px 309px #fff, 1746px 105px #fff, 536px 1128px #fff,
		1347px 1028px #fff, 871px 609px #fff, 36px 846px #fff, 169px 1829px #fff, 531px 1480px #fff, 371px 1115px #fff,
		1805px 1765px #fff, 1270px 11px #fff, 384px 1348px #fff, 1749px 1731px #fff, 973px 591px #fff, 542px 1200px #fff,
		1965px 1582px #fff, 1047px 304px #fff, 1916px 1650px #fff, 41px 176px #fff, 1819px 1830px #fff,
		419px 1100px #fff, 920px 1230px #fff, 1110px 1884px #fff, 1313px 1199px #fff, 1491px 1900px #fff,
		1795px 1864px #fff, 1360px 1903px #fff, 1963px 1263px #fff, 1721px 832px #fff, 1667px 1697px #fff,
		103px 1088px #fff, 693px 1773px #fff, 1160px 1250px #fff, 1579px 806px #fff, 1086px 1150px #fff,
		914px 727px #fff, 1845px 1727px #fff, 486px 761px #fff, 1628px 235px #fff, 275px 1201px #fff, 911px 713px #fff,
		1965px 838px #fff, 1863px 1748px #fff, 1257px 684px #fff, 1867px 810px #fff, 375px 97px #fff, 595px 862px #fff,
		1059px 154px #fff, 592px 1912px #fff, 1120px 251px #fff, 597px 1032px #fff, 475px 675px #fff, 1895px 1105px #fff,
		1986px 309px #fff, 187px 709px #fff, 973px 1497px #fff, 274px 1878px #fff, 1084px 685px #fff, 1682px 1514px #fff,
		1782px 1766px #fff, 1232px 1456px #fff, 58px 16px #fff, 1241px 1961px #fff, 817px 640px #fff, 1327px 421px #fff,
		365px 1803px #fff, 654px 393px #fff, 276px 1001px #fff, 1818px 1986px #fff, 593px 1604px #fff, 1247px 452px #fff,
		79px 225px #fff, 1847px 721px #fff, 362px 913px #fff, 1039px 214px #fff, 1245px 881px #fff, 1059px 347px #fff,
		1175px 984px #fff, 329px 1069px #fff, 1983px 727px #fff, 979px 33px #fff, 1344px 160px #fff, 1387px 1718px #fff,
		179px 136px #fff, 875px 215px #fff, 1435px 463px #fff, 1764px 1152px #fff, 157px 942px #fff, 699px 1770px #fff,
		1233px 1131px #fff, 236px 704px #fff, 1934px 989px #fff, 1387px 1706px #fff, 1868px 1780px #fff,
		1378px 1619px #fff, 954px 745px #fff, 830px 201px #fff, 382px 502px #fff, 1134px 798px #fff, 1381px 1881px #fff,
		1769px 510px #fff, 510px 1801px #fff, 1708px 1956px #fff, 1452px 816px #fff, 1727px 1154px #fff, 71px 517px #fff,
		795px 489px #fff, 1604px 170px #fff, 779px 158px #fff, 1089px 1064px #fff, 1951px 587px #fff, 1732px 1060px #fff,
		1388px 1863px #fff, 1672px 1840px #fff, 125px 1825px #fff, 1800px 482px #fff, 855px 810px #fff,
		1657px 166px #fff, 1px 1842px #fff, 955px 60px #fff, 1489px 1772px #fff, 855px 1147px #fff, 487px 696px #fff,
		1893px 1805px #fff, 837px 827px #fff, 1534px 1040px #fff, 1356px 1157px #fff, 1123px 746px #fff,
		432px 318px #fff, 749px 141px #fff, 577px 987px #fff, 1224px 1598px #fff, 1961px 1760px #fff, 24px 905px #fff,
		803px 642px #fff, 416px 4px #fff, 1147px 705px #fff, 1445px 563px #fff, 1276px 384px #fff, 1474px 1775px #fff,
		822px 241px #fff, 1221px 102px #fff, 1479px 113px #fff, 359px 1751px #fff, 1416px 1597px #fff, 836px 1560px #fff,
		1137px 472px #fff, 539px 49px #fff, 1403px 1224px #fff, 696px 277px #fff, 1408px 695px #fff, 1659px 856px #fff,
		1590px 881px #fff, 1234px 484px #fff, 1987px 998px #fff, 360px 922px #fff, 849px 1875px #fff, 755px 1328px #fff,
		57px 1163px #fff, 273px 1944px #fff, 384px 681px #fff, 956px 450px #fff, 1965px 192px #fff, 1712px 882px #fff,
		644px 1255px #fff, 413px 1490px #fff, 200px 605px #fff, 560px 227px #fff, 578px 192px #fff, 594px 1136px #fff,
		1089px 1511px #fff, 1085px 1689px #fff, 641px 545px #fff, 1767px 1018px #fff, 476px 1591px #fff,
		1781px 1077px #fff, 1034px 1619px #fff, 1758px 81px #fff, 746px 324px #fff, 288px 533px #fff, 1436px 516px #fff,
		359px 1020px #fff, 27px 1201px #fff, 346px 474px #fff, 40px 548px #fff, 1406px 234px #fff, 1170px 1655px #fff,
		1522px 1343px #fff, 1306px 511px #fff, 386px 1418px #fff, 1319px 1351px #fff, 902px 1392px #fff,
		1566px 1131px #fff, 675px 1713px #fff, 315px 1693px #fff, 322px 1493px #fff, 219px 859px #fff, 160px 79px #fff,
		1836px 780px #fff, 439px 171px #fff, 84px 339px #fff, 1525px 60px #fff, 1439px 70px #fff, 592px 1808px #fff,
		1007px 1985px #fff, 1848px 513px #fff, 1568px 911px #fff, 1378px 14px #fff, 31px 1781px #fff, 605px 509px #fff,
		380px 580px #fff, 1465px 882px #fff, 1936px 1763px #fff, 677px 1346px #fff, 1116px 1809px #fff, 224px 41px #fff,
		499px 1257px #fff, 1412px 1685px #fff, 1255px 1682px #fff, 1384px 1778px #fff, 1270px 1683px #fff,
		230px 563px #fff, 1956px 1101px #fff, 1550px 270px #fff, 473px 841px #fff, 20px 1315px #fff, 1657px 748px #fff,
		869px 640px #fff, 931px 805px #fff, 1593px 731px #fff, 1856px 1436px #fff, 1819px 1883px #fff, 1127px 893px #fff,
		479px 1739px #fff, 1583px 65px #fff, 733px 112px #fff, 286px 417px #fff, 24px 1265px #fff, 13px 380px #fff,
		25px 1931px #fff, 1403px 1591px #fff, 690px 1944px #fff, 702px 899px #fff, 1037px 1868px #fff,
		1176px 1676px #fff, 864px 1299px #fff, 133px 1101px #fff, 35px 1318px #fff, 1187px 761px #fff, 1885px 940px #fff,
		1258px 53px #fff, 525px 1426px #fff, 1332px 1989px #fff, 1657px 1535px #fff, 1734px 1274px #fff,
		1168px 270px #fff, 203px 1523px #fff, 1136px 417px #fff, 1008px 1749px #fff, 388px 879px #fff, 1616px 754px #fff,
		1500px 1825px #fff, 1643px 862px #fff, 1297px 189px #fff, 1470px 1970px #fff, 1078px 1152px #fff,
		596px 390px #fff, 1975px 1171px #fff, 1851px 1942px #fff, 270px 1024px #fff, 1443px 1278px #fff,
		1163px 1415px #fff, 707px 232px #fff, 1258px 194px #fff, 703px 88px #fff, 543px 1123px #fff, 1000px 1243px #fff,
		1599px 1789px #fff, 949px 605px #fff, 1568px 162px #fff, 596px 560px #fff, 1266px 295px #fff, 1384px 1615px #fff,
		1681px 755px #fff, 1184px 1328px #fff, 1192px 806px #fff, 957px 1594px #fff, 1233px 1200px #fff,
		1825px 443px #fff, 1023px 1536px #fff, 1677px 584px #fff, 1445px 113px #fff, 477px 723px #fff, 847px 44px #fff,
		1047px 469px #fff, 63px 461px #fff;
}
#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 616px 1867px #fff, 1185px 1647px #fff, 1999px 1941px #fff, 1359px 600px #fff, 883px 850px #fff,
		1520px 371px #fff, 410px 94px #fff, 756px 440px #fff, 1764px 1637px #fff, 1635px 898px #fff, 1820px 274px #fff,
		665px 99px #fff, 1859px 739px #fff, 431px 1851px #fff, 1770px 426px #fff, 1833px 1079px #fff, 935px 1717px #fff,
		239px 1558px #fff, 1950px 1916px #fff, 919px 1791px #fff, 371px 1403px #fff, 1541px 993px #fff,
		1341px 548px #fff, 1559px 1637px #fff, 1272px 1288px #fff, 38px 1956px #fff, 5px 611px #fff, 1098px 808px #fff,
		1468px 1448px #fff, 268px 1562px #fff, 335px 1650px #fff, 567px 1629px #fff, 1136px 1027px #fff,
		820px 641px #fff, 312px 834px #fff, 348px 1947px #fff, 752px 1034px #fff, 600px 1683px #fff, 540px 864px #fff,
		574px 1902px #fff, 1913px 809px #fff, 508px 274px #fff, 804px 1418px #fff, 1906px 1362px #fff, 1874px 341px #fff,
		1389px 1350px #fff, 32px 4px #fff, 848px 610px #fff, 131px 523px #fff, 252px 15px #fff, 427px 1064px #fff,
		706px 870px #fff, 431px 741px #fff, 1333px 1669px #fff, 766px 1498px #fff, 786px 1486px #fff, 1586px 960px #fff,
		1559px 1738px #fff, 896px 600px #fff, 742px 690px #fff, 808px 555px #fff, 1001px 188px #fff, 1556px 755px #fff,
		1681px 1056px #fff, 652px 791px #fff, 1826px 161px #fff, 1787px 1136px #fff, 572px 508px #fff, 1358px 14px #fff,
		519px 532px #fff, 386px 1880px #fff, 1964px 1565px #fff, 82px 1478px #fff, 1194px 976px #fff, 1050px 1499px #fff,
		865px 610px #fff, 247px 1613px #fff, 1628px 1074px #fff, 1411px 1575px #fff, 1639px 1884px #fff,
		1731px 593px #fff, 1067px 443px #fff, 997px 1359px #fff, 1028px 424px #fff, 938px 437px #fff, 1764px 98px #fff,
		1985px 957px #fff, 1760px 859px #fff, 1504px 1185px #fff, 786px 1053px #fff, 611px 947px #fff, 1827px 268px #fff,
		717px 663px #fff, 1663px 1311px #fff, 772px 337px #fff, 44px 1891px #fff, 1863px 1935px #fff, 414px 1382px #fff,
		495px 128px #fff, 1009px 444px #fff, 108px 1279px #fff, 802px 519px #fff, 111px 1580px #fff, 329px 1998px #fff,
		1856px 1319px #fff, 1355px 588px #fff, 1720px 1863px #fff, 1499px 1235px #fff, 1163px 119px #fff,
		1868px 979px #fff, 1683px 1868px #fff, 985px 1569px #fff, 634px 1424px #fff, 635px 1976px #fff, 523px 942px #fff,
		1048px 1791px #fff, 367px 999px #fff, 1058px 1997px #fff, 283px 1347px #fff, 1176px 993px #fff,
		1835px 503px #fff, 908px 1691px #fff, 1423px 1351px #fff, 24px 45px #fff, 1510px 979px #fff, 1771px 1747px #fff,
		79px 176px #fff, 1451px 1216px #fff, 1875px 1076px #fff, 132px 192px #fff, 444px 821px #fff, 1157px 1346px #fff,
		1446px 1951px #fff, 708px 1712px #fff, 1311px 1351px #fff, 1765px 663px #fff, 857px 1567px #fff,
		574px 377px #fff, 1350px 460px #fff, 58px 1549px #fff, 1518px 628px #fff, 1362px 619px #fff, 1690px 260px #fff,
		1667px 1603px #fff, 314px 1879px #fff, 1375px 1581px #fff, 1989px 1749px #fff, 898px 1826px #fff,
		180px 1201px #fff, 1207px 1535px #fff, 1696px 892px #fff, 1844px 1109px #fff, 1608px 1229px #fff,
		1102px 920px #fff, 375px 138px #fff, 1395px 1837px #fff, 1113px 1678px #fff, 112px 1800px #fff,
		1222px 1280px #fff, 92px 1129px #fff, 485px 675px #fff, 213px 17px #fff, 1417px 1790px #fff, 1601px 1643px #fff,
		1035px 395px #fff, 1842px 391px #fff, 918px 948px #fff, 1995px 332px #fff, 1624px 1501px #fff, 487px 555px #fff,
		202px 583px #fff, 157px 1680px #fff, 363px 1466px #fff, 494px 1146px #fff, 1862px 1513px #fff, 833px 204px #fff,
		573px 512px #fff, 923px 148px #fff, 153px 1149px #fff, 285px 919px #fff, 152px 418px #fff, 220px 537px #fff,
		35px 1477px #fff, 1890px 632px #fff, 1317px 731px #fff, 1083px 1369px #fff, 1581px 183px #fff, 1913px 464px #fff,
		1692px 1705px #fff, 169px 1081px #fff, 1109px 473px #fff, 1345px 540px #fff, 1736px 1800px #fff,
		1997px 1935px #fff, 1418px 1355px #fff, 437px 594px #fff, 1435px 1530px #fff, 1298px 1500px #fff,
		301px 1129px #fff, 1424px 1135px #fff;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 616px 1867px #fff, 1185px 1647px #fff, 1999px 1941px #fff, 1359px 600px #fff, 883px 850px #fff,
		1520px 371px #fff, 410px 94px #fff, 756px 440px #fff, 1764px 1637px #fff, 1635px 898px #fff, 1820px 274px #fff,
		665px 99px #fff, 1859px 739px #fff, 431px 1851px #fff, 1770px 426px #fff, 1833px 1079px #fff, 935px 1717px #fff,
		239px 1558px #fff, 1950px 1916px #fff, 919px 1791px #fff, 371px 1403px #fff, 1541px 993px #fff,
		1341px 548px #fff, 1559px 1637px #fff, 1272px 1288px #fff, 38px 1956px #fff, 5px 611px #fff, 1098px 808px #fff,
		1468px 1448px #fff, 268px 1562px #fff, 335px 1650px #fff, 567px 1629px #fff, 1136px 1027px #fff,
		820px 641px #fff, 312px 834px #fff, 348px 1947px #fff, 752px 1034px #fff, 600px 1683px #fff, 540px 864px #fff,
		574px 1902px #fff, 1913px 809px #fff, 508px 274px #fff, 804px 1418px #fff, 1906px 1362px #fff, 1874px 341px #fff,
		1389px 1350px #fff, 32px 4px #fff, 848px 610px #fff, 131px 523px #fff, 252px 15px #fff, 427px 1064px #fff,
		706px 870px #fff, 431px 741px #fff, 1333px 1669px #fff, 766px 1498px #fff, 786px 1486px #fff, 1586px 960px #fff,
		1559px 1738px #fff, 896px 600px #fff, 742px 690px #fff, 808px 555px #fff, 1001px 188px #fff, 1556px 755px #fff,
		1681px 1056px #fff, 652px 791px #fff, 1826px 161px #fff, 1787px 1136px #fff, 572px 508px #fff, 1358px 14px #fff,
		519px 532px #fff, 386px 1880px #fff, 1964px 1565px #fff, 82px 1478px #fff, 1194px 976px #fff, 1050px 1499px #fff,
		865px 610px #fff, 247px 1613px #fff, 1628px 1074px #fff, 1411px 1575px #fff, 1639px 1884px #fff,
		1731px 593px #fff, 1067px 443px #fff, 997px 1359px #fff, 1028px 424px #fff, 938px 437px #fff, 1764px 98px #fff,
		1985px 957px #fff, 1760px 859px #fff, 1504px 1185px #fff, 786px 1053px #fff, 611px 947px #fff, 1827px 268px #fff,
		717px 663px #fff, 1663px 1311px #fff, 772px 337px #fff, 44px 1891px #fff, 1863px 1935px #fff, 414px 1382px #fff,
		495px 128px #fff, 1009px 444px #fff, 108px 1279px #fff, 802px 519px #fff, 111px 1580px #fff, 329px 1998px #fff,
		1856px 1319px #fff, 1355px 588px #fff, 1720px 1863px #fff, 1499px 1235px #fff, 1163px 119px #fff,
		1868px 979px #fff, 1683px 1868px #fff, 985px 1569px #fff, 634px 1424px #fff, 635px 1976px #fff, 523px 942px #fff,
		1048px 1791px #fff, 367px 999px #fff, 1058px 1997px #fff, 283px 1347px #fff, 1176px 993px #fff,
		1835px 503px #fff, 908px 1691px #fff, 1423px 1351px #fff, 24px 45px #fff, 1510px 979px #fff, 1771px 1747px #fff,
		79px 176px #fff, 1451px 1216px #fff, 1875px 1076px #fff, 132px 192px #fff, 444px 821px #fff, 1157px 1346px #fff,
		1446px 1951px #fff, 708px 1712px #fff, 1311px 1351px #fff, 1765px 663px #fff, 857px 1567px #fff,
		574px 377px #fff, 1350px 460px #fff, 58px 1549px #fff, 1518px 628px #fff, 1362px 619px #fff, 1690px 260px #fff,
		1667px 1603px #fff, 314px 1879px #fff, 1375px 1581px #fff, 1989px 1749px #fff, 898px 1826px #fff,
		180px 1201px #fff, 1207px 1535px #fff, 1696px 892px #fff, 1844px 1109px #fff, 1608px 1229px #fff,
		1102px 920px #fff, 375px 138px #fff, 1395px 1837px #fff, 1113px 1678px #fff, 112px 1800px #fff,
		1222px 1280px #fff, 92px 1129px #fff, 485px 675px #fff, 213px 17px #fff, 1417px 1790px #fff, 1601px 1643px #fff,
		1035px 395px #fff, 1842px 391px #fff, 918px 948px #fff, 1995px 332px #fff, 1624px 1501px #fff, 487px 555px #fff,
		202px 583px #fff, 157px 1680px #fff, 363px 1466px #fff, 494px 1146px #fff, 1862px 1513px #fff, 833px 204px #fff,
		573px 512px #fff, 923px 148px #fff, 153px 1149px #fff, 285px 919px #fff, 152px 418px #fff, 220px 537px #fff,
		35px 1477px #fff, 1890px 632px #fff, 1317px 731px #fff, 1083px 1369px #fff, 1581px 183px #fff, 1913px 464px #fff,
		1692px 1705px #fff, 169px 1081px #fff, 1109px 473px #fff, 1345px 540px #fff, 1736px 1800px #fff,
		1997px 1935px #fff, 1418px 1355px #fff, 437px 594px #fff, 1435px 1530px #fff, 1298px 1500px #fff,
		301px 1129px #fff, 1424px 1135px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1259px 947px #fff, 1499px 1290px #fff, 499px 1346px #fff, 248px 711px #fff, 229px 269px #fff,
		1112px 1338px #fff, 1015px 1569px #fff, 1035px 206px #fff, 339px 1620px #fff, 103px 786px #fff, 892px 295px #fff,
		393px 1811px #fff, 581px 1647px #fff, 1684px 1542px #fff, 835px 363px #fff, 730px 794px #fff, 521px 1479px #fff,
		1931px 461px #fff, 306px 1854px #fff, 925px 861px #fff, 1745px 387px #fff, 1959px 501px #fff, 1910px 724px #fff,
		376px 949px #fff, 1259px 1296px #fff, 221px 1365px #fff, 1615px 1953px #fff, 210px 355px #fff, 902px 283px #fff,
		861px 214px #fff, 1193px 844px #fff, 1580px 1522px #fff, 734px 1545px #fff, 1744px 1506px #fff,
		1129px 940px #fff, 1452px 771px #fff, 233px 1838px #fff, 818px 1904px #fff, 377px 417px #fff, 217px 683px #fff,
		856px 1061px #fff, 360px 363px #fff, 1378px 255px #fff, 734px 31px #fff, 343px 1075px #fff, 470px 567px #fff,
		145px 173px #fff, 1841px 825px #fff, 1152px 1015px #fff, 627px 1044px #fff, 202px 1852px #fff, 69px 1447px #fff,
		1287px 1041px #fff, 358px 1503px #fff, 633px 222px #fff, 1782px 79px #fff, 1685px 1554px #fff, 888px 1643px #fff,
		1989px 1445px #fff, 1589px 1960px #fff, 1312px 451px #fff, 665px 1439px #fff, 892px 740px #fff,
		1380px 784px #fff, 1182px 206px #fff, 689px 1744px #fff, 737px 1698px #fff, 675px 81px #fff, 227px 1527px #fff,
		1170px 1526px #fff, 1054px 905px #fff, 105px 1152px #fff, 661px 238px #fff, 1184px 697px #fff, 944px 355px #fff,
		594px 701px #fff, 155px 1391px #fff, 1770px 599px #fff, 904px 1631px #fff, 599px 1246px #fff, 950px 1688px #fff,
		439px 488px #fff, 1208px 1500px #fff, 599px 795px #fff, 1309px 342px #fff, 1473px 1913px #fff, 377px 1271px #fff,
		1425px 27px #fff, 1353px 81px #fff, 1902px 1041px #fff, 476px 1179px #fff, 904px 980px #fff, 940px 219px #fff,
		1041px 627px #fff, 809px 625px #fff, 1051px 846px #fff, 1350px 538px #fff, 1958px 1172px #fff,
		1848px 1458px #fff, 1278px 669px #fff;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1259px 947px #fff, 1499px 1290px #fff, 499px 1346px #fff, 248px 711px #fff, 229px 269px #fff,
		1112px 1338px #fff, 1015px 1569px #fff, 1035px 206px #fff, 339px 1620px #fff, 103px 786px #fff, 892px 295px #fff,
		393px 1811px #fff, 581px 1647px #fff, 1684px 1542px #fff, 835px 363px #fff, 730px 794px #fff, 521px 1479px #fff,
		1931px 461px #fff, 306px 1854px #fff, 925px 861px #fff, 1745px 387px #fff, 1959px 501px #fff, 1910px 724px #fff,
		376px 949px #fff, 1259px 1296px #fff, 221px 1365px #fff, 1615px 1953px #fff, 210px 355px #fff, 902px 283px #fff,
		861px 214px #fff, 1193px 844px #fff, 1580px 1522px #fff, 734px 1545px #fff, 1744px 1506px #fff,
		1129px 940px #fff, 1452px 771px #fff, 233px 1838px #fff, 818px 1904px #fff, 377px 417px #fff, 217px 683px #fff,
		856px 1061px #fff, 360px 363px #fff, 1378px 255px #fff, 734px 31px #fff, 343px 1075px #fff, 470px 567px #fff,
		145px 173px #fff, 1841px 825px #fff, 1152px 1015px #fff, 627px 1044px #fff, 202px 1852px #fff, 69px 1447px #fff,
		1287px 1041px #fff, 358px 1503px #fff, 633px 222px #fff, 1782px 79px #fff, 1685px 1554px #fff, 888px 1643px #fff,
		1989px 1445px #fff, 1589px 1960px #fff, 1312px 451px #fff, 665px 1439px #fff, 892px 740px #fff,
		1380px 784px #fff, 1182px 206px #fff, 689px 1744px #fff, 737px 1698px #fff, 675px 81px #fff, 227px 1527px #fff,
		1170px 1526px #fff, 1054px 905px #fff, 105px 1152px #fff, 661px 238px #fff, 1184px 697px #fff, 944px 355px #fff,
		594px 701px #fff, 155px 1391px #fff, 1770px 599px #fff, 904px 1631px #fff, 599px 1246px #fff, 950px 1688px #fff,
		439px 488px #fff, 1208px 1500px #fff, 599px 795px #fff, 1309px 342px #fff, 1473px 1913px #fff, 377px 1271px #fff,
		1425px 27px #fff, 1353px 81px #fff, 1902px 1041px #fff, 476px 1179px #fff, 904px 980px #fff, 940px 219px #fff,
		1041px 627px #fff, 809px 625px #fff, 1051px 846px #fff, 1350px 538px #fff, 1958px 1172px #fff,
		1848px 1458px #fff, 1278px 669px #fff;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
